:host {
  color: white;

  line * {
    padding: 10px;
    text-align: center;
  }

  div {
    background-color: #2596be;
  }
  span {
    background-color: #9925be;
  }
  small {
    background-color: #be4d25;
  }
  i {
    background-color: #49be25;
  }
}
