<mat-tab-group id="element" (selected)="navigate($event)">
    <mat-tab label="Présentation">
        <ng-content select="presentation"></ng-content>
    </mat-tab>
    <mat-tab label="API" (selected)="navigate($event)">
        <ng-content select="api"></ng-content>
    </mat-tab>
    <mat-tab label="E2E" (selected)="navigate($event)">
        <ng-content select="e2e"></ng-content>
        <span *ngIf="!ref.innerHTML.trim()">
            Content if empty
        </span>
    </mat-tab>
</mat-tab-group>